<button class="btn btn-primary" type="button" data-mdb-toggle="collapse" data-mdb-target="#addcity" (click)="hideadd(2)"
    aria-expanded="false" aria-controls="collapseExample">
    Add City
</button>
<div class="container">

    <div class="shadowsss">
        <div class="row">
            <div class="col-6">
                <div class="bg-primary text-white HEader"><span class="MAsterName h5">City</span></div>
                <div class="scrollbar scrollbar-primary">
                    <div class="force-overflow">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> <small>CityName</small> </th>
                                    <th> <small> stateName </small></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let city of citys">
                                    <td><a [routerLink]="['detail',city.id]">{{city.cityName}}</a></td>
                                    <td>{{city.state.stateName}}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-6 mt-5 w-25">
                <router-outlet ></router-outlet>
            </div>
        </div>
    </div>







    <div class="collapse mt-3" id="addcity">
        <form action="" method="post" #form="ngForm" (ngSubmit)="addCity()">
            <table class="table table-bordered table-striped  table-hover">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <td><input type="text" name="cityname" id="cityname" [(ngModel)]="city.cityname"></td>
                    </tr>
                    <tr>
                        <th>State Code</th>
                        <td><input type="number" name="stateRefID" id="stateRefID" [(ngModel)]="city.stateRefID"></td>
                    </tr>

                </thead>
            </table>
            <button class="btn" type="submit">Update</button>
            <button class="btn" type="reset">go back</button>
        </form>
    </div>

    <!-- <router-outlet></router-outlet> -->