<div class="container rounded bg-white mt-5 mb-5">
        <!-- <form [formGroup]="fileForm"> -->

                <form  #form="ngForm" >
                <div class="row">
                        <div class="col-md-3 border-right">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                  
                                        <label for="upload">
                                                <img class="rounded-circle mt-5" width="150px"  alt="noimage"
                                                        [src]="displayProfileImageUrl"> 

                                        </label> 
                                        <input type="file" id="upload" (change)="handleFileInput($event)" style="display:none" name="ProfilePhotoTouplode">
                                        <span class="font-weight-bold">{{Fullname}}</span><span
                                                class="text-black-50">edogaru@mail.com.my</span><span>
                                        </span>
                                </div>
                        </div>
                        <div class="col-md-5 border-right">
                                <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                                <h4 class="text-right">Profile Settings</h4>
                                        </div>
                                        <div class="row mt-2">
                                                <div class="col-md-6"><label class="labels required">Name </label><input
                                                                type="text" 
                                                         
                                                                class="form-control " placeholder="first name" id="firstName"  name="firstName"
                                                                 [(ngModel)]="customer.firstName"
                                                                
                                                                 value=""></div>
                                                <div class="col-md-6"><label
                                                                class="labels required">Surname</label><input
                                                                type="text" 
                                                               
                                                                class="form-control"  name="lastName" [(ngModel)]="customer.lastName" value=""
                                                                placeholder="surname"></div>
                                        </div>
                                        <!-- (change)="fullnamedisplay(firstName.value,lastName.value)" -->
                                        <div class="row mt-3">
                                                <div class="row">
                                                        <div class="col">
                                                                <div class="col-md-12"><label
                                                                                class="labels required">Date Of
                                                                                Birth</label><input type="date"
                                                                                class="form-control"
                                                                                placeholder="education"
                                                                                 name="dateOfBirth" [(ngModel)]="customer.dateOfBirth" value="">
                                                                </div>
                                                        </div>
                                                        <div class="col ">

                                                                <div class="form-check form-check-inline mt-4">
                                                                        <input class="form-check-input "  [(ngModel)]="customer.gender" type="radio"
                                                                                name="Gender" 
                                                                                id="Male" value='M'>
                                                                        <label class="form-check-label required"
                                                                                 for="Male">
                                                                                Male
                                                                        </label>
                                                                </div>
                                                                <div class="form-check form-check-inline">
                                                                        <input class="form-check-input"  [(ngModel)]="customer.gender" type="radio"
                                                                                name="Gender" id="Female" value='F'>
                                                                        <label class="form-check-label  required"
                                                                                for="Female">
                                                                                Female
                                                                        </label>

                                                                </div>




                                                        </div>
                                                </div>

                                                <div class="col-md-12"><label class="labels required">Mobile
                                                                Number</label><input type="text" class="form-control"
                                                                placeholder="enter phone number"
                                                                 name="telephone1" [(ngModel)]="customer.telephone1" value="">
                                                </div>
                                                <div class="col-md-12"><label class="labels required ">Address Line
                                                                1</label><input type="text" class="form-control"
                                                                placeholder="enter address line 1"
                                                                 name="address1" [(ngModel)]="customer.address1" value="">
                                                </div>
                                                <div class="col-md-12"><label class="labels">Address Line
                                                                2</label><input type="text" class="form-control"
                                                                placeholder="enter address line 2"
                                                                 name="address2" [(ngModel)]="customer.address2" value="">
                                                </div>

                                                <div class="col-md-12"><label class="labels">Address 3</label><input
                                                                type="text" class="form-control"
                                                                placeholder="enter address line 2"
                                                                 name="address3" [(ngModel)]="customer.address3" value=""></div>

                                                <div class="col-md-12"><label class="labels required">Email
                                                                ID</label><input type="text" class="form-control"
                                                                placeholder="enter email id"  name="email1" [(ngModel)]="customer.email1"
                                                                value=""></div>



                                        </div>
                                        <div class="row mt-3">
                                                <div class="col-md-6"><label class="labels required">Country</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                                 name="countryRefId" [(ngModel)]="customer.countryRefId">
                                                                <option selected>Open this select menu</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                        </select>

                                                </div>
                                                <div class="col-md-6"><label
                                                                class="labels required">State/Region</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                                 name="stateRefId" [(ngModel)]="customer.stateRefId">
                                                                <option selected>Open this select menu</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                        </select>

                                                </div>
                                        </div>
                                        <div class="row mt-3">
                                                <div class="col-md-6"><label
                                                                class="labels required">Postcode</label><input
                                                                type="text" class="form-control"
                                                                placeholder="enter address line 2"
                                                                 name="pinCode" [(ngModel)]="customer.pinCode" value=""></div>

                                                <div class="col-md-6"><label class="labels required">City</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                                 name="cityRefId" [(ngModel)]="customer.cityRefId">
                                                                <option selected>Open this select menu</option>
                                                                <option value="1">One</option>
                                                                <option value="2">Two</option>
                                                                <option value="3">Three</option>
                                                        </select>

                                                </div>
                                        </div>
                                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button"
                                                        type="button" (click)="addAccount()">Save
                                                        Profile</button></div>
                                </div>
                        </div>
                        <div class="col-md-4">
                                <div class="p-3 py-5">
                                        <div class="d-flex justify-content-between align-items-center experience">
                                                <span>Edit
                                                        Experience</span><span class="border px-3 p-1 add-experience"><i
                                                                class="fa fa-plus"></i>&nbsp;Experience</span>
                                        </div><br>
                                        <div class="col-md-12"><label class="labels">Experience in
                                                        Designing</label><input type="text" class="form-control"
                                                        placeholder="experience" value="">
                                        </div> <br>
                                        <div class="col-md-12"><label class="labels">Additional Details</label><input
                                                        type="text" class="form-control"
                                                        placeholder="additional details" value=""></div>
                                </div>
                        </div>
                </div>

        </form>
</div>