<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>Document</title>
</head>

<body>
  <div class="card " >
    <div class="card-header">
      <div class="row">
        <div class="col-4 airportcode mt-2">
          {{flightBooking.fromAirportCode}} <br>
        </div>
        <div class="col-4">
          <small>{{flightBooking.arrivalDate | date :'shortTime'}}</small>
          -------------------
          <small>{{flightBooking.departureDate | date :'shortTime'}}</small>
        </div>
        <div class="col-4 mt-2">
          {{flightBooking.toAirportCode}} <br>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>BookingTime</th>
            <td>{{flightBooking.bookingTimeStamp }}</td>
            <th>BookingEmail</th>
            <td>{{flightBooking.customerContactEmail}}</td>
            <th>BookingMobile</th>
            <td>{{flightBooking.customerContactMobile}}</td>
            <th>FlightCode</th>
            <td>{{flightBooking.flightCode}}</td>
          </tr>
          <tr>
            <th>Number of Passenger</th>
            <td>{{flightBooking.passengerNameRecord}}</td>
            <th>Bording Airport </th>
            <td>{{flightBooking.fromairport}}
              <br>
              ({{flightBooking.fromAirportCode}})
            </td>


            <th> Drop Airport</th>
            <td>{{flightBooking.toairport}}<br>
              ({{flightBooking.toAirportCode}})
            </td>

          </tr>
        </tbody>
      </table>

      Passenger Information
      <table class="table">
        <thead>
          <th>Name </th>
          <th>Age </th>
          <th>Gender</th>
        </thead>
        <tbody *ngFor="let passenger of flightBooking.flightCustomerDetails; let indexOfelement=index">
          <tr>
          
            <td>{{passenger.passengerName}}</td>
            <td>{{passenger.age}}</td>
            <td>{{passenger.gender}}</td>

          </tr>
        </tbody>
      </table>

      <a href="#" class="btn btn-primary">Button</a>
    </div>
    <div class="card-footer text-muted">2 days ago</div>
  </div>
</body>

</html>

Booking COnform