<!-- <div *ngIf="statusdd == 'true'; else elseBlock"> 
     <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer> 
 </div>
<ng-template #elseBlock>
    <div *ngIf="signup =='false' ; else elsesignup">
         <app-login></app-login> 
    </div>
    
    <ng-template #elsesignup>

        <app-sign-up></app-sign-up>
    </ng-template>
</ng-template>
 -->

 <!-- <app-login-tok></app-login-tok> -->
 <!-- <app-home-token></app-home-token> -->
 <app-header  ></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> 
