<div class="row">
    <div class="col">
    <div  *ngIf="true;else other_content">
        <table class="table table-bordered table-striped  table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <td>{{citys.id}}</td>
                </tr>
                <tr>
                    <th>City Name</th>
                    <td>{{citys.cityName}}</td>
                </tr>
                <tr>
                    <th>State Name</th>
                    <td>{{citys.state.stateName}}</td>
                </tr>
                <tr>
                    <th>State Code</th>
                    <td>{{citys.state.stateID}}</td>
                </tr>

            </thead>
        </table>
        <button class="btn" (click)="update()">Edit</button>
    </div>

<!-- <div class="col">
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/800px-Image_created_with_a_mobile_phone.png" alt="">




</div> -->

<ng-template #other_content>

    <table class="table table-bordered table-striped  table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <td><input type="text" name="" id="" value={{citys.id}}></td>
            </tr>
            <tr>
                <th>City Name</th>
                <td><input type="text" name="" id="" value={{citys.cityName}}></td>
            </tr>
            <tr>
                <th>State Name</th>
                <td><input type="text" name="" id="" value={{citys.state.stateName}}></td>
            </tr>
            <tr>
                <th>State Code</th>
                <td><input type="text" name="" id="" value={{citys.state.stateID}}></td>
            </tr>

        </thead>
    </table>
    <button class="btn" (click)="update()">Update</button>
    <button class="btn" (click)="update()">go back</button>


</ng-template>
</div>