<div class="container">
    <div class="row mt-5">
        <div class="col-2">


        </div>
        <div class="col-10">
            <div *ngFor="let room of Rooms" >

                <div class="card mb-3 me-5 border"  style="height: 30%;">
                    <div class="row g-0">

                        <div class="col-3 ">

                            <img src="{{'data:image/jpeg;base64,'+ room.roomImage}}" alt=""  style="height: 150px;"
                            class="img-fluid rounded-top">


                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title">Room Type {{room.roomTypeRefID}}</h5>
                                <p class="card-text">{{room.description}}</p>
                            </div>
                        </div>

                        <div class="col-2 bg-success rounded-end  ">
                              
                                <p class="card-text text-center"> &#x20b9;{{room.roomPrice}}</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>