<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="../../assets/Images/bg.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form  #form="ngForm" (ngSubmit)="regristration()">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Or</p>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="text" #user name="userName" [(ngModel)]="productForm.userName" class="form-control form-control-lg"
                                    placeholder="Enter User Address"  />
                                <label class="form-label" for="user">User Address</label>
                            </div>


                        </div>
                        <div class="col">
                            <div class="form-outline mb-4">
                                <input type="number" #user name="phone" [(ngModel)]="phone" class="form-control form-control-lg num"
                                    placeholder="Enter Mobile Number" />
                                <label class="form-label" for="user">Mobile Nmber</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-outline mb-3">
                        <input type="text" #email  name="email" (change)="emailvalidation(email.value)"  [(ngModel)]="productForm.email" class="form-control form-control-lg"
                            placeholder="Enter Email" />
                        <label class="form-label" for="pass">Email</label>
                    </div>
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" #pass name="password"  [(ngModel)]="productForm.password" class="form-control form-control-lg"
                            placeholder="Enter password"  (change)="passwordValidation(pass.value,confpass.value)" />
                        <label class="form-label" for="pass">Password</label>
                    </div>
                    <div class="form-outline mb-3">
                        <input type="password" #confpass class="form-control form-control-lg"
                            placeholder="Enter Conform password" (change)="passwordValidation(pass.value,confpass.value)" />
                        <label class="form-label" for="pass"> Conform Password</label>
                    </div>
                    <div [hidden]="isvalidet"  class="alert alert-danger" role="alert">
                        {{this.message}}
                      </div>
                       
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn">Sign Up</button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">have an account? <a  (click)="gotologin()"
                                class="link-danger">Sign In</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div
        class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">

        <div class="text-white mb-3 mb-md-0">
            Copyright © 2020. All rights reserved.
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>